## 02-Lab  - Polynomial Regression

In this lab, you will work with Auto dataset which we had seen while Introducing Data Science .
The dataset contains information about varoious cars/automobiles, the number of wheels, engine displacement along with their fuel efficiency.
Your task is to fit a Polynomial model, and predict the miles-per-gallon(mpg) based on suitable input variables.
You are required to do the data manipulation, polynomial conversion (of suitable degree), perform train-test splits,etc to create the model.

Data is availabe in : https://raw.githubusercontent.com/colaberry/DSin100days/master/data/Auto.csv

In [1]:
# Import the library
import pandas as pd

auto = pd.read_csv('https://raw.githubusercontent.com/colaberry/DSin100days/master/data/Auto.csv', na_values='?').dropna()
auto.info()
auto.head()

#Write your code here or in other code cells down

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 396
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horsepower      392 non-null float64
weight          392 non-null int64
acceleration    392 non-null float64
year            392 non-null int64
origin          392 non-null int64
name            392 non-null object
dtypes: float64(4), int64(4), object(1)
memory usage: 30.6+ KB

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,1,ford torino