## 02-Lab  - Logistic Regression

In this lab, you will work with loan default dataset to predict default.
The dataset contains information about income, balance and default for various people along with their student status.
Your task is to fit a Logistic Regression model, and predict default status of individuals given the data sample.
You are required to perform train-test split, GridSearchCV to find the best parameters and create the model.

Data is availabe in : https://raw.githubusercontent.com/colaberry/DSin100days/master/data/default.csv

In [1]:
# Import the library
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, plot_roc_curve, plot_confusion_matrix
import matplotlib.pyplot as plt

default = pd.read_csv('https://raw.githubusercontent.com/colaberry/DSin100days/master/data/default.csv', na_values='?').dropna()
default.info()
default.head()

#Write your code here or in other code cells down

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 0 to 9999
Data columns (total 6 columns):
default     10000 non-null object
student     10000 non-null object
balance     10000 non-null float64
income      10000 non-null float64
default2    10000 non-null int64
student2    10000 non-null int64
dtypes: float64(2), int64(2), object(2)
memory usage: 546.9+ KB

  default student      balance        income  default2  student2
0      No      No   729.526495  44361.625074         0         0
1      No     Yes   817.180407  12106.134700         0         1
2      No      No  1073.549164  31767.138947         0         0
3      No      No   529.250605  35704.493935         0         0
4      No      No   785.655883  38463.495879         0         0