# The Pandas Library

Pandas is an open source library that provides easy-to-use data structures and data analysis tools in Python. This library offers a two useful labelled array data structure called the Series and the Dataframes.

Ref: http://pandas.pydata.org

## Series

A series is used for a one-dimensional vector array with labels of each element in the vector as index. A series method can hold any type of data such as integer, scalar value, strings, Python objects, float, array, ndarray, etc.

The syntax for creating a series is

```python
     
    s = pd.Series(data, index=index)

```
An example is shown below on how to use the series in a program.

```python

    import pandas as pd
    import numpy as np
    list = pd.Series([2, 3, 4, 5, 6, 7])
    list
 
    Output:
 
    0    2
    1    3
    2    4
    3    5
    4    6
    5    7
    dtype: int64

```

An element can be accessed using its index or by its value. 

## Exercise

Assign apple, ball, cat, dog, elephant to a variable ' alphabet', and then access the element using the index for ball.

In [3]:
import pandas as pd
import numpy as np

### Solution

```python
alphabet = pd.Series(['apple', 'ball', 'cat', 'dog', 'elephant'])
alphabet[1]
```

## Dataframes

Dataframes is defined as a 2-dimensional labeled data structure with columns of potentially different types according to pydata.org. It is similar to a spreadsheet or SQL table, or a dict of Series objects.

<img src="https://s3.amazonaws.com/rfv2/dataframe.png", style="width: 300px;">

To use pandas library, first you have to import the library and use the funcations available in the library

```python
import pandas as pd
import numpy as np
pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]))
```

### Description

Let us read in a csv file into a dataframe object. The pandas dataframe is so versatile that it can easily read files from url links. 

You can think of Dataframes to be as important for a Data Scientist as Cutting is for a cook. To be able to learn the various operations is essential for you to be a strong Data Scientist. 

To understand how dataframe works, let us consider the datasets used by FiveThirtyEight.com to analyzie the earning ecomonics of college majors and to do a midwest states survey.

In these examples let us read in a csv file into a dataframe object. The pandas dataframe is so versatile that it can easily read files from url links. 

### College Majors datasets

Article ref: The Economic Guide To Picking A College Major: 
https://fivethirtyeight.com/features/the-economic-guide-to-picking-a-college-major/

"Major categories are from Carnevale et al: "What's It Worth?: The Economic Value of College Majors." Georgetown University Center on Education and the Workforce, 2011. http://cew.georgetown.edu/whatsitworth"

Data is from American Community Survey 2010-2012 Public Use Microdata Series from:

http://www.census.gov/acs/www/data_documentation/pums_data/

CSV datasets can be found at: https://github.com/colaberry/538data/tree/master/college-majors

### Midwest Survey datasets

Example context:

"Here’s a somewhat regular argument I get in: Which states make up which regions of the United States? Some of these regions — the West Coast, Mountain States, Southwest and Northeast are pretty clearly defined — but two other regions, the South and the Midwest, are more nebulous.

I’m from New York, and I generally consider anything west of Philadelphia the Midwest. This admittedly unsophisticated designation is frequently criticized by self-avowed Midwesterners. My boss, originally of Michigan, has many opinions about what, precisely, falls into the Midwest. So I decided to find out which states Midwesterners consider to be in their territory.

To get this broad-based view, we asked SurveyMonkey Audience to ask self-identified Midwesterners which states make the cut. We ran a national survey that targeted the Midwest from March 12 to March 17, with 2,778 respondents. Of those, 1,357 respondents identified “a lot” or “some” as a Midwesterner. We then asked this group to identify the states they consider part of the Midwest."

Article ref: Which States Are in the Midwest? https://fivethirtyeight.com/datalab/what-states-are-in-the-midwest/

SOUTH.csv and MIDWEST.csv contain individual responses from surveys about regional identification conducted for FiveThirtyEight by SurveyMonkey. 

CSV datasets can be found at: https://github.com/colaberry/538data/tree/master/region-survey

## Exercise:

### Reading into a Dataframe

Dataframes are a part of the library called Pandas. One of the versatile features of pandas dataframe is that, it can read the data by just specifying the link in the read_csv() function.

 - One of the useful and fundamental commands that can list the first few rows of the dataframe, is the 'head' function, which takes in number of rows (default is 5) to be listed in the top-down order. 
 - List first five rows of the grad_students dataframe using the 'head' function and assign it to grad_sample variable.

In [4]:
# Import the library
import pandas as pd
import numpy as np

grad_url = "https://raw.githubusercontent.com/colaberry/538data/master/college-majors/grad-students.csv"
grad_students = pd.read_csv(grad_url)

#Use .head() function
#write your code here

### Solution

```python
grad_sample = grad_students.head()
grad_sample
```

## Using head() function with a parameter

We can pass the number of rows as a parameter to head() function.

### Exercise:

- Now, try listing first 7 rows of the midwest_survey dataframe using the head() function and assign it to midwest_sample variable.

In [5]:
# Import the library
import pandas as pd
import numpy as np

midwest_survey_url = "https://raw.githubusercontent.com/colaberry/538data/master/region-survey/MIDWEST.csv"
midwest_survey = pd.read_csv(midwest_survey_url)

#Use value in .head() function by passing the number of rows.
#write your code below

### Solution

```python
midwest_sample = midwest_survey.head(7)
midwest_sample
```

### Writing a Dataframe into a csv file

To save a dataframe into a csv file 'to_csv' is used. 

```python
    df.to_csv('filename.csv')
```    
         
where df is the name of the dataframe and filename.csv is the name you want your csv file to be named.

to_csv uses many arguments using 'sep'

```python
    df.to_csv(file_name, sep=',')
```  
As the Dataframe will in Series form, the output will have indexes and if we want to avoid the indexes to be copied to the csv file, we need to pass 'False' value to the 'index' argument.

```python
    df.to_csv(file_name, encoding='utf-8', index=False)
```

## Exercise

What is the syntax for writing a dataframe 'grad_students' to a csv file 'gradstudents.csv' without any index values stored in the csv file?

In [6]:
import pandas as pd
import numpy as np
grad_url = "https://raw.githubusercontent.com/colaberry/538data/master/college-majors/grad-students.csv"
grad_students = pd.read_csv(grad_url)

### Solution

```python
student_doc = "gradstudents.csv"
grad_students.to_csv(student_doc, encoding='utf-8', index=False)

```

## Categorical & Dummy Variables


<img src="../../../images/types_of_data.png" style="width:40vw">

Categorical variables are variables that can take a value in a fixed set. For example, day of the week,

```python
day = {Sunday, Monday, Tuesday, Wednesday, Thursday, Friday, Saturday}
```
Frequently, Data Scientists encounter columns which have categorical variables in the columns. For example, consider the dataframe which contains data about various purchases tabulated by each day and the sex of the person who made the purchase. We can create a dataframe from the dictionary of values:

```python
raw_data = {'Day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
                    'Sunday', 'Monday', 'Tuesday', 'Wednesday'],
            'Sex': ['male', 'female', 'male', 'female', 'female', 'female', 'female',
                    'male', 'male', 'female'],
            'Total_Amount': ['100.0', '30', '40', '70', '90', '20', '50', '30',
                             '60', '70']}

checks = pd.DataFrame(raw_data, columns = ['Day', 'Sex', 'Total_Amount'])
```
checks dataframe now contains:

<pre>
  Total_Amount        Day     Sex
0        100.0     Monday    male
1           30    Tuesday  female
2           40  Wednesday    male
3           70   Thursday  female
4           90     Friday  female
5           20   Saturday  female
6           50     Sunday  female
7           30     Monday    male
8           60    Tuesday    male
9           70  Wednesday  female
</pre>

Certain Machine Learning algorithms cannot make sense of the categorical variables such as Day or Sex. Hence, we need to transform them to numbered codes that represent such unique values. To do so, we can use dummy variables. Dummy variables transform the day of the week to a value:

```python
day_dummies = pd.get_dummies(checks['Day'])
day_dummies
```
<pre>
   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0       1         0       0         0        0          0
1       0       0         0       0         0        1          0
2       0       0         0       0         0        0          1
3       0       0         0       0         1        0          0
4       1       0         0       0         0        0          0
5       0       0         1       0         0        0          0
6       0       0         0       1         0        0          0
7       0       1         0       0         0        0          0
8       0       0         0       0         0        1          0
9       0       0         0       0         0        0          1
</pre>

You can see that there are as many columns as there are unique values in the categorical variable. Also each categorical variable such as Monday, Tuesday have unique set of 1s and 0s.

<br/>

### Exercise:

 - Transform the 'sex' column to a categorical variable and append to the dataframe, checks.

In [12]:
raw_data = {'Day': ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday','Sunday', 'Monday', 'Tuesday', 'Wednesday'],
                      'Sex': ['male', 'female', 'male', 'female', 'female', 'female', 'female', 'male', 'male', 'female'],
                      'Total_Amount': ['100.0', '30', '40', '70', '90', '20', '50', '30','60', '70']}
checks = pd.DataFrame(raw_data, columns = ['Total_Amount', 'Day', 'Sex'])

#Use pd.concat([<dataframe>, <sex dataframe>, axis=1) and display the dataframe.
# Add code to create a new dummy variable out of Sex column and append to checks data frame.

### Solution

```python
sex_dummies = pd.get_dummies(checks['Sex'])
checks = pd.concat((checks, sex_dummies), axis=1)
```

# Indexing 

Indexing is done using labels which is attributes used for column representation and numeric ranges

```python
    grad_students['Major']
```

We can also pass a set of attribute names to select those colums from the dataset.

```python
    grad_students[['Major', 'Grad_total']]
```


# Slicing

Slicing is done to pull out a set of rows from the dataset.

```python
    grad_students[2:5]
```

To slice out a set of rows, you use the following syntax: data[start:stop].

[[We can select specific ranges of our data in both the row and column directions using either label or integer-based indexing.

loc: indexing via labels or integers
iloc: indexing via integers ]] --------- explanation for iloc and loc

### Slicing Data based on Criteria
We can also select a subset of our data using criteria. For example, we can select all rows that have a year value of 2002.

```python
    grad_students[grad_students.Grad_total <= 10000]
```

## Exercise

Print the rows of the data with the condition of grad_unemployed being greater than equal to 700 and store it in a variable 'unempl_num'

In [13]:
import pandas as pd
import numpy as np
grad_url = "https://raw.githubusercontent.com/colaberry/538data/master/college-majors/grad-students.csv"
grad_students = pd.read_csv(grad_url)

### Solution


```python
unempl_num = grad_students[grad_students.Grad_unemployed >= 700]
unempl_num
```



<br/><br/><br/>
## Row Selection

You could see that the column indices were shown in the head() command. The dataframes are indexed by starting index of 0 on both row and column similar to array indexing. Note that the upper bound is excluded from listing in the output. To list rows from 2 to 6 of a column 'Major':

```python
grad_students['Major'][1:6]
```
<img src="https://s3.amazonaws.com/rfv2/row_slice.png", style="width: 350px;">

<br/>
## Exercise:

 - Load rows 2 to 6 of column Major_category and assign it to variable major_category.
 - print out the variable major_category

In [14]:
# list rows 2:6 of Major_category
#note that the index starts with 0
#write your code below

### Solution

```python
major_category = grad_students['Major_category'][1:6]
major_category
```



<br/><br/><br/>
## Column Selection

To list multiple columns use double square brackets. For example, to list Major_category, Grad_share you can use:
```python
grad_students[['Major_category', 'Grad_share']]
```

<img src="https://s3.amazonaws.com/rfv2/col_slice.png", style="width: 350px;">

<br/>

### Exercise:

From the Graduate Students dataset (stored in grad_students):
 - List columns of Major_code and Grad_employed for rows 4 to 8 and assign it to the variable, grad_students_sample.
 - print out grad_students_sample

In [19]:
grad_students[['Major_code', 'Grad_employed']]

     Major_code  Grad_employed
0          5601           7098
1          6004          40492
2          6211          18368
3          2201           3590
4          2001           7512
5          3201           1008
6          6206         151570
7          1101          13104
8          2101           4716
9          1904          28517
10         6005          19059
11         5701           1984
12         2504           4442
13         1903          35939
14         5901          20035
15         2107           9037
16         6299          17691
17         2599          12433
18         2503          14752
19         6099           1100
20         5301         154146
21         6203         622357
22         5503          14584
23         6212          36227
24         2106           8554
25         6204          12659
26         6200         457191
27         6105          37639
28         2100          60858
29         1901         212156
..          ...            ...
143        2313         122260
144        2418           8567
145        5402          12875
146        2305          51750
147        2308          42043
148        3606          66240
149        4801         182113
150        2310         144858
151        3602          13071
152        3600         898342
153        5001           5480
154        5003         336838
155        3608          50450
156        2404          19474
157        3501          15651
158        3603          32729
159        3607           7571
160        3609          80607
161        5007         168583
162        3611          12551
163        5201          18993
164        3601         109944
165        3605          10450
166        5008          12263
167        6102         145102
168        5203          38468
169        5202          16612
170        6106          78132
171        2303          11313
172        2301          34142

[173 rows x 2 columns]

### Solution
```python
grad_students_sample = grad_students[['Major_code', 'Grad_employed']][3:8]
grad_students_sample
```



<br/><br/><br/>
## Assignments & Comparisons

### Adding a new column

Adding a new column with values is as easy as a variable assignment. To add a new column of percentage of employed grads:
```python
grad_students['emp_percent'] = (grad_students.Grad_employed/grad_students.Grad_total) * 100.0
```

### Renaming a Column

Renaming a column is easy by specifying a dictionary of old name as key and new name as value.
```python
grad_students = grad_students.rename(columns={'Major_category': 'Major_Category'}
```

### Comparisons

To determine those rows where sample size is greater than 200,
```python
grad_students[grad_students.Grad_sample_size > 200]
```

<br/>
## Exercise:

List the Major Category of all the data where the employment percentage is greater than 80%.

 - Assign it to the variable major_emp_data and print it out.

In [17]:
grad_students['emp_percent'] = (grad_students.Grad_employed/grad_students.Grad_total) * 100.0
grad_students[grad_students.emp_percent > 80]

#use grad_students.Major_category
#Write your code below:

,Major_code,Major,Major_category,Grad_total,Grad_sample_size,Grad_employed,Grad_full_time_year_round,Grad_unemployed,Grad_unemployment_rate,Grad_median,...,Nongrad_employed,Nongrad_full_time_year_round,Nongrad_unemployed,Nongrad_unemployment_rate,Nongrad_median,Nongrad_P25,Nongrad_P75,Grad_share,Grad_premium,emp_percent
4,2001,COMMUNICATION TECHNOLOGIES,Computers & Mathematics,9109,171,7512,5622,466,0.058411,57000.0,...,43163,34231,3389,0.072800,52000.0,36000,78000.0,0.144753,0.096154,82.467889
8,2101,COMPUTER PROGRAMMING AND DATA PROCESSING,Computers & Mathematics,5611,98,4716,3981,119,0.024612,85000.0,...,22024,18381,2222,0.091644,60000.0,40000,85000.0,0.165394,0.416667,84.049189
9,1904,ADVERTISING AND PUBLIC RELATIONS,Communications & Journalism,33928,688,28517,22523,899,0.030562,60000.0,...,127832,100330,8706,0.063762,51000.0,37800,78000.0,0.171907,0.176471,84.051521
13,1903,MASS MEDIA,Communications & Journalism,42915,828,35939,28054,1957,0.051641,57000.0,...,153722,117581,12816,0.076955,50000.0,35000,72000.0,0.184236,0.140000,83.744611
15,2107,COMPUTER NETWORKING AND TELECOMMUNICATIONS,Computers & Mathematics,11165,218,9037,7988,803,0.081606,80000.0,...,41552,34402,2476,0.056237,58000.0,37700,84000.0,0.186266,0.379310,80.940439
17,2599,MISCELLANEOUS ENGINEERING TECHNOLOGIES,Engineering,14816,315,12433,11146,407,0.031698,80000.0,...,50092,44199,3316,0.062088,65000.0,43000,90000.0,0.196533,0.230769,83.916037
20,5301,CRIMINAL JUSTICE AND FIRE PROTECTION,Law & Public Policy,188228,3794,154146,133549,6591,0.041005,68000.0,...,565748,490943,29133,0.048973,52000.0,36000,75000.0,0.213027,0.307692,81.893236
23,6212,MANAGEMENT INFORMATION SYSTEMS AND STATISTICS,Business,41970,963,36227,32121,1459,0.038715,89000.0,...,129179,115177,5690,0.042189,72000.0,50000,100000.0,0.218503,0.236111,86.316416
24,2106,COMPUTER ADMINISTRATION MANAGEMENT AND SECURITY,Computers & Mathematics,10290,194,8554,7581,542,0.059587,81000.0,...,29740,26303,2102,0.066013,60000.0,41600,80000.0,0.222858,0.350000,83.129252
25,6204,OPERATIONS LOGISTICS AND E-COMMERCE,Business,15056,335,12659,10861,296,0.022848,94000.0,...,43074,38454,1827,0.040690,66000.0,46800,92000.0,0.224385,0.424242,84.079437
27,6105,MEDICAL TECHNOLOGIES TECHNICIANS,Health,47029,942,37639,29892,987,0.025553,76000.0,...,117087,89592,4193,0.034573,60000.0,45900,77000.0,0.227780,0.266667,80.033596
28,2100,COMPUTER AND INFORMATION SYSTEMS,Computers & Mathematics,71527,1425,60858,53807,2539,0.040049,80000.0,...,209994,184959,10439,0.047357,65000.0,45000,90000.0,0.227996,0.230769,85.083954
30,6202,ACTUARIAL SCIENCE,Business,2472,56,2020,1725,162,0.074244,110000.0,...,6666,6040,266,0.038373,76000.0,53000,125000.0,0.236103,0.447368,81.715210
34,2500,ENGINEERING TECHNOLOGIES,Engineering,11724,219,9471,7958,450,0.045358,74000.0,...,29092,25129,1475,0.048255,65000.0,40000,94000.0,0.245704,0.138462,80.783009
38,2105,INFORMATION SCIENCES,Computers & Mathematics,25799,551,22403,19028,1179,0.049996,84000.0,...,63354,55946,3333,0.049980,70000.0,48500,96000.0,0.258323,0.200000,86.836699
40,4000,MULTI/INTERDISCIPLINARY STUDIES,Interdisciplinary,14405,318,12708,9639,261,0.020125,55000.0,...,32600,24260,2573,0.073153,44000.0,34200,58000.0,0.259910,0.250000,88.219368
41,5102,"NUCLEAR, INDUSTRIAL RADIOLOGY, AND BIOLOGICAL ...",Physical Sciences,3910,65,3129,2565,28,0.008869,80000.0,...,8699,6701,605,0.065026,64000.0,45000,80000.0,0.261032,0.250000,80.025575
45,5403,HUMAN SERVICES AND COMMUNITY ORGANIZATION,Psychology & Social Work,29262,555,23537,18213,1504,0.060061,50100.0,...,58298,43307,4625,0.073503,38700.0,30000,53000.0,0.272542,0.294574,80.435377
46,6003,VISUAL AND PERFORMING ARTS,Arts,18324,275,14841,9671,593,0.038422,53000.0,...,36008,21969,3729,0.093842,40000.0,28000,60000.0,0.274016,0.325000,80.992141
50,4101,PHYSICAL FITNESS PARKS RECREATION AND LEISURE,Industrial Arts & Consumer Services,119489,2423,103790,80196,2696,0.025318,60000.0,...,245267,186901,10704,0.041817,45000.0,33700,64000.0,0.286964,0.333333,86.861552
51,6207,FINANCE,Business,301650,6319,252242,221486,11635,0.044093,95000.0,...,615192,528057,28844,0.044786,70000.0,45000,100000.0,0.287957,0.357143,83.620753
60,2102,COMPUTER SCIENCE,Computers & Mathematics,324402,6674,281088,243500,10557,0.036198,95000.0,...,623930,544970,31060,0.047421,80000.0,52000,106000.0,0.304893,0.187500,86.648048
63,1301,ENVIRONMENTAL SCIENCE,Biology & Life Science,43612,925,38068,29568,1392,0.035276,68000.0,...,78828,61721,3837,0.046416,55000.0,40000,76000.0,0.315764,0.236364,87.287902
66,3604,ECOLOGY,Biology & Life Science,21535,465,17793,13713,677,0.036654,62000.0,...,33531,24530,1665,0.047307,48700.0,33000,74000.0,0.341473,0.273101,82.623636
74,2407,COMPUTER ENGINEERING,Engineering,82102,1806,73147,65371,1592,0.021301,97000.0,...,119738,106089,6639,0.052533,81000.0,60000,110000.0,0.367557,0.197531,89.092836
79,1103,ANIMAL SCIENCES,Agriculture & Natural Resources,56807,1335,47755,39047,596,0.012327,70300.0,...,74896,61629,3101,0.039758,48000.0,32000,75000.0,0.374427,0.464583,84.065344
80,6109,TREATMENT THERAPY PROFESSIONS,Health,142285,2607,123279,91011,2185,0.017415,70000.0,...,187311,123316,4158,0.021716,63000.0,42000,80000.0,0.377377,0.111111,86.642302
89,4005,MATHEMATICS AND COMPUTER SCIENCE,Computers & Mathematics,4810,103,3880,3045,445,0.102890,98000.0,...,5711,5020,150,0.025593,92000.0,53000,136000.0,0.407420,0.065217,80.665281
92,6100,GENERAL MEDICAL AND HEALTH SERVICES,Health,64284,1172,54355,42137,1226,0.022058,70000.0,...,69217,50755,3592,0.049335,52000.0,37000,75000.0,0.416199,0.346154,84.554477
93,4001,INTERCULTURAL AND INTERNATIONAL STUDIES,Humanities & Liberal Arts,32549,600,26153,18746,1786,0.063925,70000.0,...,34373,24209,2680,0.072329,50000.0,32000,72000.0,0.419111,0.400000,80.349627
117,6108,PHARMACY PHARMACEUTICAL SCIENCES AND ADMINISTR...,Health,152238,2872,124688,97680,3174,0.024824,111000.0,...,120500,88001,4110,0.032983,107000.0,80000,125000.0,0.467511,0.037383,81.903336
127,3701,APPLIED MATHEMATICS,Computers & Mathematics,17075,386,14113,11699,416,0.028632,100000.0,...,13704,11253,773,0.053395,76000.0,48000,110000.0,0.497074,0.315789,82.653001
134,2410,ENVIRONMENTAL ENGINEERING,Engineering,11722,252,9387,8183,450,0.045746,81000.0,...,8641,7475,304,0.033985,71900.0,55000,100000.0,0.516228,0.126565,80.080191
135,3699,MISCELLANEOUS BIOLOGY,Biology & Life Science,27744,553,22488,17787,597,0.025861,65000.0,...,19978,15600,802,0.038595,55000.0,35000,75000.0,0.520086,0.181818,81.055363
139,5005,GEOSCIENCES,Physical Sciences,9006,204,7443,6200,134,0.017685,90000.0,...,5920,4890,238,0.038649,58000.0,38000,80000.0,0.530295,0.551724,82.644903
142,4006,COGNITIVE SCIENCE AND BIOPSYCHOLOGY,Biology & Life Science,5982,118,5032,3879,239,0.045342,95000.0,...,4206,3116,184,0.041913,55000.0,40000,93000.0,0.537080,0.727273,84.119024
144,2418,NUCLEAR ENGINEERING,Engineering,10520,243,8567,8018,100,0.011538,110000.0,...,6730,6258,144,0.020949,100000.0,65000,130000.0,0.547688,0.100000,81.435361
145,5402,PUBLIC POLICY,Law & Public Policy,15284,338,12875,10988,415,0.031226,89000.0,...,9478,7456,441,0.044460,63000.0,41800,94000.0,0.556956,0.412698,84.238419
152,3600,BIOLOGY,Biology & Life Science,1085977,21994,898342,703347,19368,0.021105,95000.0,...,512669,394936,28639,0.052907,54000.0,37000,80000.0,0.601913,0.759259,82.722010
153,5001,ASTRONOMY AND ASTROPHYSICS,Physical Sciences,6331,136,5480,4548,112,0.020029,96000.0,...,2720,2163,298,0.098741,85000.0,56000,109000.0,0.618866,0.129412,86.558206
155,3608,PHYSIOLOGY,Biology & Life Science,59363,1155,50450,38252,1078,0.020921,90000.0,...,25501,18261,1284,0.047937,50000.0,35000,78000.0,0.630301,0.800000,84.985597
156,2404,BIOMEDICAL ENGINEERING,Engineering,22155,475,19474,16845,366,0.018448,90000.0,...,9626,8051,547,0.053770,70000.0,48000,104000.0,0.641858,0.285714,87.898894
158,3603,MOLECULAR BIOLOGY,Biology & Life Science,37872,875,32729,26944,950,0.028207,85000.0,...,15914,11602,679,0.040921,50000.0,31000,75000.0,0.648094,0.700000,86.420046
159,3607,PHARMACOLOGY,Biology & Life Science,8853,168,7571,6238,188,0.024230,105000.0,...,3126,2463,57,0.017908,66000.0,38000,105000.0,0.662699,0.590909,85.519033
162,3611,NEUROSCIENCE,Biology & Life Science,14429,286,12551,10044,225,0.017611,58000.0,...,4802,3580,360,0.069740,40000.0,30000,79000.0,0.673560,0.450000,86.984545
164,3601,BIOCHEMICAL SCIENCES,Biology & Life Science,128892,2765,109944,90589,2728,0.024212,96000.0,...,43165,34108,2888,0.062710,55000.0,36000,85000.0,0.687637,0.745455,85.299320
165,3605,GENETICS,Biology & Life Science,12106,261,10450,9060,207,0.019424,78000.0,...,4020,3187,192,0.045584,56000.0,36000,90000.0,0.697310,0.392857,86.320833
166,5008,MATERIALS SCIENCE,Engineering,14184,299,12263,9894,273,0.021777,95000.0,...,4619,4001,134,0.028193,80000.0,65000,103000.0,0.715388,0.187500,86.456571

### Solution

```python
major_emp_data = grad_students.Major_category[grad_students.emp_percent > 80]
major_emp_data
```



<br/><br/><br/>
## Statistical Computations

### Statistical Measures

statistics such as mean and median can be easily computed on selective values in the dataframe. 

To compute mean on Grad_employed:
```python
grad_students.Grad_employed.mean()
```
To calculate the sum of each column:
```python
grad_students.Grad_employed.sum()
```

### Sparsity or Missing Values

<img src="../../../images/python_missing_values.png" style="width:35vw">

In many real world datasets, it is common to encounter missing or null values. 

To find missing or null values in a column, you can use the isnull() function. For this, let us study the midwest survey dataset.
```python
midwest_survey['Which of the following states do you consider part of the Midwest? Please select all that apply. '].isnull()
```
To drop a row where the above column value is null:
```python
midwest_survey['Which of the following states do you consider part of the Midwest? Please select all that apply. '].dropna()
```

### Sparsity Substitution

When a few values are missing, it is not worth throwing away the entire row as we would be missing a lot of useful information.  We can fill such columns with 'NA' and preserve the row for later analysis
```python
midwest_survey['Which of the following states do you consider part of the Midwest? Please select all that apply. '].fillna(value='NA')
```
The above statement does not change the original dataframe. We can do that by specifying inplace=True
```python
midwest_survey['Which of the following states do you consider part of the Midwest? Please select all that apply. '].fillna(value='NA', inplace=True)
```
We can also substitute with another value:
```python
midwest_survey['Which of the following states do you consider part of the Midwest? Please select all that apply. '].fillna(value=0.5)
```
To see statistical data of an entire dataframe:

```python
grad_students.describe(include='all')
```

<br/>
## Exercise:

Determine the Major for which the Grad_employed is maximum.

 - Assign it to variable grad_emp_max
 - print it out.

In [18]:
# Use grad_students.Grad_employed.max()
#Use == comparator and find out which row/s contains the maximum value. Then print out the Major.
#write your code below:

### Solution

```python
grad_emp_max = grad_students[grad_students.Grad_employed == grad_students.Grad_employed.max()].Major
grad_emp_max
```



<br/><br/><br/>
## Advanced operations - Dataframe

Dataframe has advanced operations that can be used to filter data. To retrieve data about grad students whose major is engineering and employed percentage is above 80,
```python
grad_students[(grad_students.Major_category == 'Engineering') & (grad_students.emp_percent > 80)]
```
Similarly you can use OR with the single symbol |. Note that there are no double parameters for comparison as in other languages such as C.


## Exercise:

List the grad students who are Major in "Art or Graphic Design" or "Engineering" whose unemployment rate is below 10%. 

 - Assign the result to variable, grad_select_list
 - Print the value

In [19]:
# Use | and & to build your command

#write your code below:

### Solution

```python
grad_select_list = grad_students[((grad_students.Major == 'ENGINEERING') | (grad_students.Major == 'COMMERCIAL ART AND GRAPHIC DESIGN')) & (grad_students.Grad_unemployment_rate < 0.1)]
grad_select_list
```

<br>
## Index Based Selection

<img src="../../../images/python_index_based_selection.png" style="width:40vw">
Indices can be used just as in arrays or lists when selection is in a sequence instead of multiple disconnected rows/columns. To extract rows 1 to 4 and columns 4 to 7, you can use:
```python
grad_students.ix[0:3, 3:7]
```

## Exercise:

To select all the data in the row or column, you don't need to specify the start and end index numbers, but just the colon. 

 - Filter all rows for columns 2 to 6 and assign to variable grad_row_sample.
 - Print out the first 5 rows

In [31]:
#Use : in the column space
# Write your code below

### Solution

```python
grad_row_sample = grad_students.iloc[:, 1:6]
grad_row_sample
```



<br/><br/><br/>
## Sorting & Grouping

### Sorting

To sort a column in a dataframe, you can use sort _index method and specify the column. To sort by sample size in the ascending order in the grad student dataframe:
```python
grad_students.sort_index(by='Grad_sample_size')
```

## Grouping

<img src="../../../images/groupbyPython.png">
You can use groupby extension to group by the elements of the column.
```python
grad_students.groupby('Major_category')
```
<br/>

## Exercise:

You can use max() function to determine the max of any column. For example to determine the max employed graduates:
```python
grad_students.Grad_employed.max()
```
Can you determine what is the max graduates employed in each Major category?

 - Assign the result to the variable, grad_cat_max and print it out.

In [20]:
# Modify the code below, Use groupby before using the max function.
grad_cat_max = ''

### Solution

```python
grad_cat_max = grad_students.groupby('Major_category').Grad_employed.max()
grad_cat_max
```

# Reshaping

### Pivot 

The Pivot method is used to seperate and extract a new table from the original dataset.This methods are very useful in summerizing the data in the dataset. They can automatically perform mean, sort, count from the dataframe and store the result in a new table. This method allows us to group or organize data as per our wish from the existing dataset. 

The Pivot method can have index, columns, and values as arguments and they do not create a duplicate values for the specified column.


### Pivot Table

The pivot_table method overcomes the disadvantage of pivot method. The Pivot table performs the same role as Pivot method but it combines the values from with duplicate values for the specified columns.



```python 
import pandas as pd
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'TestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'TestScore'])
df

Output:

    regiment    company TestScore
0   Nighthawks  1st     4
1   Nighthawks  1st     24
2   Nighthawks  2nd     31
3   Nighthawks  2nd     2
4   Dragoons    1st     3
5   Dragoons    1st     4
6   Dragoons    2nd     24
7   Dragoons    2nd     31
8   Scouts      1st     2
9   Scouts      1st     3
10  Scouts      2nd     2
11  Scouts      2nd     3

```

a pivot table can be created for a group means, by company and regiment


pd.pivot_table(df, index=['regiment','company'], aggfunc='mean')

Pivot table method is a powerful method for analysis for which one need to first understand the data properly.


### Stack/Unstack

Pivoting a table is a special case of stacking a DataFrame. If suppose we have a DataFrame with MultiIndices on the rows and columns. Stacking a DataFrame means moving (also rotating or pivoting) the innermost column index to become the innermost row index. The inverse operation is called unstacking. It means moving the innermost row index to become the innermost column index.

## Exercise

Print out a pivot table on grad_students for a group max by Grad_unemployed and Grad_employed and store it in a variable mean_pivot

In [21]:
#write your code below:

### Solution

```python
mean_pivot = pd.pivot_table(grad_students, index=['Grad_employed','Grad_unemployed'], aggfunc='max')
mean_pivot
```