# Merging Data From Various Sources

## Introduction

In this course we will look at various options such as concatenate, join and merge dataframes.
The pandas library provides various facilities for easily combining together Series, DataFrame, and Panel objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In this course we will look closely at using these facilities on Dataframes.



## Concatenate

The concat() function in pandas takes a list or dict of homogeneously-typed objects and concatenates them into one resulting object. It does all of the heavy lifting of performing concatenation operations along an axis while performing optional set logic (union or intersection) of the indexes (if any) on the other axes. 

Suppose we have 3 dataframes named x, y and z with the following data.

```python
In [1]: x = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
   ...:                     'B': ['B0', 'B1', 'B2', 'B3'],
   ...:                     'C': ['C0', 'C1', 'C2', 'C3'],
   ...:                     'D': ['D0', 'D1', 'D2', 'D3']},
   ...:                     index=[0, 1, 2, 3])
   ...: 

In [2]: y = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
   ...:                     'B': ['B4', 'B5', 'B6', 'B7'],
   ...:                     'C': ['C4', 'C5', 'C6', 'C7'],
   ...:                     'D': ['D4', 'D5', 'D6', 'D7']},
   ...:                      index=[4, 5, 6, 7])
   ...: 

In [3]: z = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
   ...:                     'B': ['B8', 'B9', 'B10', 'B11'],
   ...:                     'C': ['C8', 'C9', 'C10', 'C11'],
   ...:                     'D': ['D8', 'D9', 'D10', 'D11']},
   ...:                     index=[8, 9, 10, 11])

```

If we perform the concat() function on these dataframes as below:

```python
result = pd.concat([x,y,z])
```
Note that the three input dataframes are provided as a list to concat() function.
Here is the output of concat().

```python
# Output
>>> 

     A	 B	 C	 D
0	A0	B0	C0	D0
1	A1	B1	C1	D1
2	A2	B2	C2	D2
3	A3	B3	C3	D3
4	A4	B4	C4	D4
5	A5	B5	C5	D5
6	A6	B6	C6	D6
7	A7	B7	C7	D7
8	A8	B8	C8	D8
9	A9	B9	C9	D9
10	A10	B10	C10	D10
11	A11	B11	C11	D11

```
### Exercise

Given two DataFrames representing stocks of vegetables for Alice and Bob respectively, write python code to join the two dataframes with indices remaining as it is in the inputs. Assign the resulting Dataframe to All_fruits variable.

In [69]:
#Write your code below
import pandas as pd
Alice_fruits = pd.DataFrame({'Apples': ['1', '4', '10', '12'],
                  'Oranges': ['10', '11', '12', '13'],
                  'Grapes': ['5', '6', '7', '8'],
                  'Pears': ['5', '6', '8', '9']},
                 index=[0, 1, 2, 3])
Bob_fruits = pd.DataFrame({'Apples': ['8', '7', '3', '1'],
                  'Oranges': ['7', '4', '2', '3'],
                  'Grapes': ['5', '2', '1', '14'],
                  'Pears': ['7', '15', '3', '12']},
                 index=[0, 1, 2, 3])

### Solution

```python
#solution
All_fruits = pd.concat([Alice_fruits,Bob_fruits])
print(Alice_fruits)
print(Bob_fruits)
All_fruits
```

## Indices after Concat()

In the previous example of concat(), note that the indices were specified as unique for different dataframes.
Suppose we do not have unique indices in the input dataframes, the indices will be duplicated in the resulting dataframe.

```python
#Write your code below
x = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                  'B': ['B0', 'B1', 'B2', 'B3'],
                  'C': ['C0', 'C1', 'C2', 'C3'],
                  'D': ['D0', 'D1', 'D2', 'D3']})
y = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                  'B': ['B4', 'B5', 'B6', 'B7'],
                  'C': ['C4', 'C5', 'C6', 'C7'],
                  'D': ['D4', 'D5', 'D6', 'D7']})
z = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                  'B': ['B8', 'B9', 'B10', 'B11'],
                  'C': ['C8', 'C9', 'C10', 'C11'],
                  'D': ['D8', 'D9', 'D10', 'D11']})
result = pd.concat([x,y,z])
print(x)
print(y)
print(z)
result
```

Here is the output:

```python
# Output
>>> 
A	B	C	D
0	A0	B0	C0	D0
1	A1	B1	C1	D1
2	A2	B2	C2	D2
3	A3	B3	C3	D3
0	A4	B4	C4	D4
1	A5	B5	C5	D5
2	A6	B6	C6	D6
3	A7	B7	C7	D7
0	A8	B8	C8	D8
1	A9	B9	C9	D9
2	A10	B10	C10	D10
3	A11	B11	C11	D11

```

Note that the indices are duplicated.

### Handling Duplcate Indices

There are several ways to handle duplicate indices. One of the ways is to identify if indices are duplicated.
You may do this by using 'verify_integrity=True' parameter while using concat() function.

```python
try:
    result = pd.concat([x,y,z],verify_integrity=True)
except ValueError as e:
    print("ValueError:", e)

```

Or you could ingnore index by using 'ignore_index=True' flag.

```python
try:
    result = pd.concat([x,y,z],ignore_index=True)
except ValueError as e:
    print("ValueError:", e)

```


### Exercise

Try the concat() with the following dataframes A and B. Print Duplicate, if there are duplicate indices.
Else print the resulting dataframe.

In [2]:
A = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                  'B': ['B0', 'B1', 'B2', 'B3'],
                  'C': ['C0', 'C1', 'C2', 'C3']},index=[0, 1, 2,3])
B = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                  'B': ['B4', 'B5', 'B6', 'B7'],
                  'C': ['C4', 'C5', 'C6', 'C7']},index=[3, 5, 6, 7])

### Solution

```python
try:
    result = pd.concat([A,B],verify_integrity=True)
    print(result)
except ValueError as e:
    print("Duplicate")
```

## Append

The next method is append() method to append two dataframes.
A useful shortcut to concat() are the append() instance methods on Series and DataFrame. These methods actually predated concat. They concatenate along axis=0, namely the index:

From the previous example, let us apply append() on x and y dataframes.

```python

result = df1.append([x, y])

```
The result of the append() is below:

```python

# Output
>>> 


A	B	C	D
0	A0	B0	C0	D0
1	A1	B1	C1	D1
2	A2	B2	C2	D2
3	A3	B3	C3	D3
4	A4	B4	C4	D4
5	A5	B5	C5	D5
6	A6	B6	C6	D6
7	A7	B7	C7	D7
8	A8	B8	C8	D8
9	A9	B9	C9	D9
10	A10	B10	C10	D10
11	A11	B11	C11	D11
```


### Exercise

In this exercise, use DataFrame's append() method to concatinate Alice_fruits, Bob_fruits Dataframes to the newly created Charlie_fruits and assing it to New_All_fruits variable.

In [79]:
Charlie_fruits = pd.DataFrame({'Apples': ['2', '8', '14', '16'],
                  'Oranges': ['17', '16', '15', '14'],
                  'Grapes': ['9', '11', '12', '5'],
                  'Pears': ['8', '9', '11', '12']},
                 index=[0, 1, 2, 3])

#write your code below

### Solution

```python
#solution
result = All_fruits.append([Charlie_fruits])
result

```

## Join

In the above lessons we looked at simple example with common column names in input Dataframes. In reality, data from different sources might have different column names and our job is to join them together and stitch a resulting dataframe. This is similar to the database SQL operation of JOIN. Pandas' concat() function also offers the join operation similar to Database join. Consider the concatenation of the following two DataFrames, which have only some columns in common:

```python

A = pd.DataFrame({'A': ['1', '2', '3', '4'],
                  'B': ['4', '5', '6', '7'],
                  'C': ['8', '9', '10', '11']})
B = pd.DataFrame({'D': ['D1', 'D2', 'D3', 'D4'],
                  'E': ['E1', 'E2', 'E3', 'E4'],
                  'F': ['F1', 'F2', 'F3', 'F4']})
```
There is a join flag. By default, the join is a union of the input columns (join='outer'), but we can change this to an intersection of the columns using join='inner':

join = 'inner' gives the inner join


```python
result_join = pd.concat([A, B], join='inner')
result
```

```python 
#output
A	B	C
0	1	4	8
1	2	5	9
2	3	6	10
3	4	7	11
0	NaN	NaN	NaN
1	NaN	NaN	NaN
2	NaN	NaN	NaN
3	NaN	NaN	NaN
```
As you can see only common from A are given as result.

Another option is to directly specify the index of the remaininig colums using the join_axes argument, which takes a list of index objects. Here we'll specify that the returned columns should be the same as those of the first input:

```python
result_join = pd.concat([A, B], join_axes=[A.columns])
result
```


### Exercise

In this exercise, you are required to use two DataFrames namely fruits and veggies and preform a join operation using concat() to cobine fruits and veggies in to a new DataFrame fruits_veggies.

In [80]:

fruits = pd.DataFrame({'Apples': ['2', '8', '14', '16'],
                  'Oranges': ['17', '16', '15', '14'],
                  'Grapes': ['9', '11', '12', '5'],
                  'Pears': ['8', '9', '11', '12']})

veggies = pd.DataFrame({'Tomato': ['4', '5', '6', '7'],
                  'Potato': ['14', '15', '16', '17'],
                  'Onion': ['24', '25', '26', '27'],
                  'Lettuce': ['34', '35', '36', '37']})

#write your code below

### Solution

```python
fruits_veggies = pd.concat([fruits, veggies], join_axes=[fruits.columns])
fruits_veggies

```

## Aggregation using groupby()

Let us say we have data pertaining to monthly spends for the year 2017, of various departments in a company. The data may read something like this:

```python
import pandas as pd

spend_data = pd.read_csv("../../../data/Spend_by_dept.csv")

spend_data.head(10)

>>> # Output
>>> Department	Date	Amount
>>> 0	Finance	17-Jan	139083
>>> 1	Marketing	17-Jan	19329
>>> 2	Technology	17-Jan	17445
>>> 3	Legal	17-Jan	14703
>>> 4	R&D	17-Jan	69621
>>> 5	Finance	17-Feb	131661
>>> 6	Marketing	17-Feb	127824
>>> 7	Technology	17-Feb	137300
>>> 8	Legal	17-Feb	91937
>>> 9	R&D	17-Feb	126742
```

As we can see, the spend for each of the five departments within each month is given as a record. What if we want to see aggregated annual spend (of each department) for 2017? This is called the operation of 'aggregation', i.e., addition or calculation of an overall statistic over all observed data pertaining to a specific categorical value (here departments are the key categorical values upon which we will aggregate the monthly spend).

Note: Aggregation often results in loss of some dimensional information. In this case, when annual spend is to be found by aggregating monthly spends, we will lose the break up of monthly spend by each department, post performing the aggregation.

Aggregation operation can be performed by first using the 'groupyby()' function to denote which dimension/categorical values we would be aggregating for. In the given example, since we want spend by departments, the 'Department' column values will be the features for which aggregation will be performed. The feature which would get aggregated and lose its detail, in this case, would be 'Date'. The rolled up value or aggregated feature would be 'Amount'.

We perform groupby as shown below:
```python
# groupby operation specifying feature for which grouping/aggregation will be done
spend_data = spend_data.groupby("Department")

# Specifying the feature which will be aggregated and what kind of aggregation operation is to be performed. Here it is sum()
spend_data = spend_data['Amount'].sum()

spend_data.head()

>>> # Output
>>> Department
>>> Finance       899875
>>> Legal         903826
>>> Marketing     716882
>>> R&D           945543
>>> Technology    908888
>>> Name: Amount, dtype: int64
```

The above output shows annual spend of each department.

### Exercise

Now for some practice! For the same data given above, calculate and print total spend by all departments in each month.

Output should contain - 1st column Year-Month, 2nd column Amount.

In [81]:
import pandas as pd

spend_data = pd.read_csv("../../../data/Spend_by_dept.csv")

spend_data.head(10)

   Department       Date  Amount
0     Finance  1/15/2018  139083
1   Marketing  1/15/2018   19329
2  Technology  1/15/2018   17445
3       Legal  1/15/2018   14703
4         R&D  1/15/2018   69621
5     Finance  2/15/2018  131661
6   Marketing  2/15/2018  127824
7  Technology  2/15/2018  137300
8       Legal  2/15/2018   91937
9         R&D  2/15/2018  126742

### Solution

```python
# groupby operation specifying feature for which grouping/aggregation will be done
spend_data = spend_data.groupby("Date")

# Specifying the feature which will be aggregated and what kind of aggregation operation is to be performed. Here it is sum()
spend_data = spend_data['Amount'].sum()

spend_data.head()
```

Note: An important observation to make is that the months in the previous exercise may have been shown in alphabetical order, instead of chronological order. This is because the 'Date' data in above data set is identified as a string instead of a date variable (Hence, 1-15-2017 is succeeded by 10-15-2017, which is then succeeded by 2-15-2017 and so on).<br>
Therefore, in order to display chronological ordering of data, we would need to convert 'Date' feature into a date-time variable. Now, this operation can only be performed before the groupby operation is performed. Once groupby is performed on a feature, no type conversions are allowed/supported in the data frame. Hence, type conversions need to be done before groupby is attempted.

An Example:
```python
# in-place conversion
data_frame['column_name'] = data_frame['column_name'].apply(conversion_function)
```

### Exercise

Re-do the above exercise again - calculate and print total spend by all departments in each month. This time, convert the 'Date' feature before applying groupy by.

Hint: Use to_datetime() function from pandas.

In [82]:
#Write your code below

### Solution

```python
# Convert Date feature - string to datetime
spend_data['Date'] = spend_data['Date'].apply(pd.to_datetime)

# groupby operation specifying feature for which grouping/aggregation will be done
spend_data = spend_data.groupby("Date")

# Specifying the feature which will be aggregated and what kind of aggregation operation is to be performed. Here it is sum()
spend_data = spend_data['Amount'].sum()

spend_data.head()
```

## Merge

The Pandas library has a full-featured, high performance in-memory join operations similar to relational database SQL join operations. These methods perform significantly better than other open source implementations. The reason for this is careful algorithmic design and the internal layout of the data in DataFrame.

Experienced users of relational databases like SQL will be familiar with the terminology used to describe join operations between two SQL-table like structures (DataFrame objects). There are several cases to consider which are very important to understand:

one-to-one joins: for example when joining two DataFrame objects on their indexes (which must contain unique values).

many-to-one joins: for example when joining an index (unique) to one or more columns in a different DataFrame.

many-to-many joins: joining columns on columns.

merge() function and a 'on' keyword can provide SQL like join feature.  

Suppose we have a column C which is shared by A and B dataframes.

```python
A = pd.DataFrame({'A': ['1', '2', '3', '4'],
                  'B': ['4', '5', '6', '7'],
                  'C': ['8', '9', '10', '11']})
B = pd.DataFrame({'D': ['D1', 'D2', 'D3', 'D4'],
                  'E': ['E1', 'E2', 'E3', 'E4'],
                  'C': ['8', '9', '10', '11']})

result = pd.merge(A, B, on='C')

result
```

By using the merge  and on keyword, we can do a join like a sql database join.

### Exercise

In [83]:
#write your code below

fruits = pd.DataFrame({'Apples': ['2', '8', '14', '16'],
                  'Oranges': ['17', '16', '15', '14'],
                  'Grapes': ['9', '11', '12', '5'],
                  'Banana': ['34', '35', '36', '37']})

veggies = pd.DataFrame({'Tomato': ['4', '5', '6', '7'],
                  'Potato': ['14', '15', '16', '17'],
                  'Onion': ['24', '25', '26', '27'],
                  'Banana': ['34', '35', '36', '37']})

#write your code below

### Solution

```python
#solution

merge_result = pd.merge(fruits, veggies, on='Banana')

merge_result
```

## Merging data from multiple data sources

In this lesson we will learn how to fetch data from multiple data sources 
and merge them to get the complete dataset needed.

In this section, we will deal with 3 types of data sources.

1. A CSV file
2. An SQL Database - sqlite
3. An HTML web page
<br>
The image below shows how these various data sources are linked.<br>
<img src="../../../images/merge.png" style="height:70vh;">
<br>

In the following steps, we would perform operations, using python code,
to read the above 3 datasources and merge the data in to one clean datasource.

### Exercise

Use your knowledge of the pandas library to load the given csv link into a Dataframe.

In [84]:
# Link to the dataset

cust_order_link = '../../../data/Customer_Order.csv'

### Solution code

```python
import pandas as pd

# Reading data into tables
df_csv_custorder = pd.read_csv(cust_order_link)
df_csv_custorder
```

### Exercise

The second after the above exercise is to load the data from sqlite database.
Refer to the SQL notebooks and use your expertise in extracting data from sqlite
databases to query data from 'product' table in the given sqlite database. Load the
extracted data into a dataframe.

In [85]:
productdb_link = '../../../data/products.db'

### Solution code

```python
# Importing library
import sqlite3

# Connecting to the database
oltp_con = sqlite3.connect(productdb_link)

# Creating a cursor on the database connection
oltp_cur = oltp_con.cursor()

# Executing query
oltp_cur.execute('''SELECT * FROM product''')
products = oltp_cur.fetchall()

# List of tuples - conversion to Dataframe
df_db_products = pd.DataFrame(products, columns=['productno', 'productname'])
df_db_products
```

### Exercise

The third step on this lesson is to read data from HTML content on the web. Based on your 
expertise on WebScraping. Use the knowledge from the WebScraping lesson to load the given 
HTML page link into a Dataframe.

https://raw.githubusercontent.com/colaberry/DSin100days/master/data/order-transactions.html

Look at the above link to learn the format of HTML (class, div tags) to understand how to 
get transaction details.

{"orderno": orderno , "productno" : productno , "quantity" : quantity , "total" : total}

In [86]:
import requests
from bs4 import BeautifulSoup

url = 'https://raw.githubusercontent.com/colaberry/DSin100days/master/data/order-transactions.html'

# Write your code below

### Solution code

```python
response = requests.get(url)
html = response.content

soup = BeautifulSoup(html)
tag = soup.find_all("div", class_="transaction")
#print(tag)
transactions = []

for t in tag:
    #print(t.span.text)
    order = t.find("small", class_="orderno")
    orderno = order.text
    product = t.find("small", class_="productno")
    productno = product.text
    qty = t.find("small", class_="quantity")
    quantity = qty.text
    ttl = t.find("small", class_="total")
    total = ttl.text
    order_detail = {"orderno": orderno , "productno" : productno , "quantity" : quantity , "total" : total}
    #print(order_detail)
    transactions.append(order_detail)

df_web_transactions = pd.DataFrame(transactions)
df_web_transactions
```

Now it is time to combine the above data sources and merge the datasets as provided in the previous lessons in this course. The below example shows python code to merge the above 3 datasets, to print the following:

```python
# Printing all 3 tables out
print(df_web_transactions)
print(df_db_products)
df_csv_custorder.columns = ['customerno', 'orderno']
print(df_csv_custorder)

>>> # Output
>>> orderno  productno  quantity   total
>>> 0    22345       1568         1   200.0
>>> 1    46238       4321         1   500.0
>>> 2    66266       7317         1   700.0
>>> 3    67222       7317         1   700.0
>>> 4    67222       2371         1   800.0
>>> 5    21573       2931         1  1200.0
>>> 6    11467       5873         1   200.0
>>> productno               productname
>>> 0       1568               WB A1 Paper
>>> 1       4321            3M Scotch Tape
>>> 2       2371    Pilot pens - Set of 10
>>> 3       2931  Pilot LE pens - Set of 3
>>> 4       7317             Regis Stapler
>>> 5       5873         Pidilite Glustick
>>>    customerno  orderno
>>> 0         100    22345
>>> 1         101    46238
>>> 2         102    66266
>>> 3         100    67222
>>> 4         102    21573
>>> 5         101    11467
```

Print the list of product names for orders placed by customer no.100.
```python
# Combining transactions and product names from product table
temp = pd.merge(df_web_transactions, df_db_products[['productno','productname']], on='productno')
# Merging transactions and custorder table to link Customers to orders
result = pd.merge(temp, df_csv_custorder[['customerno','orderno']], on='orderno')
# Condition to filter products purchased by customer no.100
prods = result[result['customerno']==100]['productname']
print(prods)

>>> # Output
>>> 0               WB A1 Paper
>>> 3             Regis Stapler
>>> 4    Pilot pens - Set of 10
>>> Name: productname, dtype: object
```

Print the list of customer numbers who have ordered the product 'Regis Stapler'.
```python
# Condition to extract customer nos who purchased 'Regis Stapler'
custs = result[result['productname']=='Regis Stapler']['customerno']
print(custs)

>>> # Output
>>> 2    102
>>> 3    100
>>> Name: customerno, dtype: int64
```

### Exercise

Given the 3 databases on products, customers and their orders - Combine the data and create a new dataframe where 

* first column would be 'Customer_no'
* second column should be 'All_orders' separated by commas
* third column should be 'total' spent
* <b>Note</b> that this dataframe should contain only Customer_no for people who have a total spend of more than 1000.

Use all knowledge gathered so far - from pandas, python, datetime, etc. to complete this exercise.

In [87]:
# Write your code below

### Solution code

```python
# Converting 'total' values into numeric from string. Using apply as 'total' feature is a series in this case
# Always do type conversion before applying groupby
df_web_transactions['total'] = df_web_transactions['total'].apply(pd.to_numeric)

# Performing groupby and storing the copy on a new dataframe. This is necessary as many operations cannot be 
# performed after groupby. Hence original data source should be preserved in its original state
df_web_transactions_1 = df_web_transactions.groupby("orderno")

# Aggregating the totals and creating a new series - total_agg. Note that the output is a pandas series
total_agg = df_web_transactions_1['total'].sum()

# Aggregated series data is to be re-cast as a Data Frame
total_agg = pd.DataFrame(total_agg)

# Resetting index on the Data Frame helps use all data columns in merges and groupbys
total_agg = total_agg.reset_index()

# Casting 'orderno' feature as string to enable concatenation within the column using comma as separator
df_csv_custorder['orderno'] = df_csv_custorder['orderno'].astype(str)

# Performing groupby and storing the copy on a new dataframe. This is necessary as many operations cannot be 
# performed after groupby. Hence original data source should be preserved in its original state
df_csv_custorder_1 = df_csv_custorder.groupby("customerno")

# Combining multiple order values within the table using aggregation and string join operations
cust_order_join = df_csv_custorder_1.orderno.agg(', '.join)

# Aggregated series data is to be re-cast as a Data Frame
cust_order_join = pd.DataFrame(cust_order_join)

# Resetting index on the Data Frame helps use all data columns in merges and groupbys
cust_order_join = cust_order_join.reset_index()

# Merging customer order table with order totals (total aggregate) table
cust_order_total = pd.merge(df_csv_custorder,total_agg,on='orderno')

# Aggregating total spent by specific customer using groupby
cust_total = pd.DataFrame(cust_order_total.groupby("customerno")['total'].sum())

# Resetting index on the Data Frame helps use all data columns in merges and groupbys
cust_total = cust_total.reset_index()

# Final table created by joining cust_order table and cust_total tables
final_table = pd.merge(cust_order_join,cust_total,on='customerno')

# Converting total to numeric type
final_table['total'] = final_table['total'].apply(pd.to_numeric)

# Filtering all customers with total more than 1000
final_table[final_table['total']>1000]
```